.page4 {
    display: none;
}

@media (min-width: 768px) {
    .container {
        max-width: 720px
    }

}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;    
    }
    #checkmark {
       color: var(--clr-primary);
    }
    .page4 {
        display: block;
        background-color: var(--clr-bg);
    }    

    .transfer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 5rem;
    }
    .transfer-head {
        padding-top: 3rem;
        font-size: 32px;
        font-weight: 800;
        width: 465px;
        color: var(--clr-text-body)
    }
    .transfer-text i {
        margin-right: 10px;
    }
    .transfer-text {
            font-size: 16px;
            font-weight: 400;
            color: var(--clr-text-body);
            padding-bottom: 14rem;
            display: grid;
            gap: 1rem;
        }
    #transfer-head1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: grid;
        justify-content: start;
    }
    #transfer-head2 {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        width: 526px;
        font-size: 26px;
    }
    .icon-text {
        font-size: 16px;
        width: 249px;
        display: grid;
        gap: 1rem;
        color: var(--clr-text-body)
    }
    .transfer-icon {
        display: flex;
        height: 60px;
        gap: 3rem;
    } 
    #transfer-icon {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }
    #transfer-img1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        display: flex;
        justify-content: end;
    }
    #transfer-img2 {
        grid-column: 1 / 2;
        grid-row: 4 / 8;
        display: flex;
        justify-content: center;    
    }
    .btn-transfer-grp .btn-transfer {
        background-color: #6366F1;
        border: none;
        border-radius: 10px;
        width: 160px;
        height: 45px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: flex;
        gap: 7px;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        float: left;
    }
    .btn-transfer-grp .btn-transfer:not(:last-child) {
        border-right: none;
    }
    .btn-transfer-grp .btn-transfer:hover {
        background-color: #6366F1;
        box-shadow: 2px 2px 5px #8488f0,
        -2px -2px 5px #b3b3b3;
    }
    .btn-transfer-grp {
        padding-bottom: 4rem;
    }
    #btn-transfer1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: grid;
        justify-content: start;
        align-items: end;
        padding-bottom: 8rem;
    }
    #btn-transfer2 {
        grid-column: 2 / 3;
        grid-row: 7 / 8; 
    }
}