.pg5-bg {
    display: none;
}
    
    @media (min-width: 768px) {
        .container {
            max-width: 720px
        }
        .pg5-bg {
            display: none;
        }
    }
    
    
    
    
    @media (min-width: 1400px) {
        .container {
            max-width: 1320px;    
        }
    .pg5-bg {
        background-color: var(--clr-gray-100);
        display: block;
    }
    .client-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 2rem;
        padding-bottom: 6rem;
    }
    #clients-head {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    .client-head {
        font-size: 36px;
        font-weight: 800;
        width: 350px;
    }
    .client-box:hover {
        box-shadow: 5px 5px 5px #aaaaaa;
    }
    .client-box {
        background-color: var(--clr-white);
        color: var(--clr-text-body);
        height: 350px;
        width: 350px;
        font-size: 18px;
        padding: 20px;
        border: 5px none;
        border-radius: 20px;
        margin-top: 30px;
        position: relative;
        box-shadow: 6px 6px 6px #eee;
    }
    #box {
        display: flex;
        gap: 2rem;
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }
    #client-box1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        padding-left: 25px;
        padding-top: 100px;
        width: 416px;
    }
    #client-box2 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        padding-left: 25px;
        padding-top: 100px;
        width: 416px;
    }
    #quotesicon1 {
        top: -7%;
        left: 4%;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        position: absolute;
    }
    #rating1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        left: 4%;
        top: 14%;
        position: absolute;
        color: gold;
        font-size: small;
    }
    #clientface1 {
        left: 4%;
        top: 73%;
        grid-column: 2 / 3;
        grid-row: 1 / 2; 
        position: absolute;

    }
    #clientname1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;  
        position: absolute;
        left: 20%;
        top: 66%;
    }
    #work {
        grid-column: 2 / 3;
        grid-row: 1 / 2;  
        position: absolute;
        left: 20%;
        top: 80%;
        font-size: 14px;
    }
}